.aboba {
position: absolute;
width: 300px;
height: 300px;
left: 157px;
top: 441px;

background: #D9D9D9;
border-radius: 25px;
}
.aboba1 {
    position: absolute;
width: 300px;
height: 300px;
left: 595px;
top: 443px;

background: #D9D9D9;
border-radius: 25px;
}